@page "/"

<h1>Welcome to Traveless</h1>

Welcome to our new app.

<!--The aim of this project is to build a flight reservation system for a
    local travel agency, Traveless to improve its productivity and services.
•	Front-end GUI
•	Backend
•	Functional front end connected to the backend
    The task is to create an event-driven program that can manage the travel agency's data
    by allowing users to find flights, make reservations, find existing reservations, and modify them.
    To find a flight, a user must provide the origin airport, destination airport,
    and the day of the week for the flight's departure. A reservation code is generated
    and assigned to a traveller's name and citizenship when a travel agent makes a flight reservation.
    To find existing flight reservations, a travel agent can use the reservation code, airline, or traveller's name.
    Additionally, a travel agent can modify an existing reservation by updating the traveller's name and citizenship
    or soft-deleting the reservation, freeing up a seat on the flight.

    Peer assessment - NAVRAJ GILL & MEHTAB SINGH - Regulary meeted up to work on this project with almost 30+ hours of collective work.
-->
